.features {
    display: flex;
    justify-content: space-between;
}

.features-item {
    width: 270px;
}

.features-icon {
    width: 270px;
    background-color: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
}

.features-svg {
    width: 70px;
    height: 70px;
}