.header {
    @extend .section;
    padding-top: 24px;
    padding-bottom: 25px;
}

nav {
    @extend .container;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-right: 93px;
}


.logo span {
    color: var(--accent-color);
}

nav {
    margin-left: 93px;
}

.nav-list {
    display: flex;
}

.nav-item:not(:first-child) {
    margin-left: 54px;
}

.nav-link,
.contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contact-link {
    color: var(--secondary-text-color);

    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contact-item:not(:first-child) {
    margin-left: 50px;
}

.contact-link {
    color: var(--secondary-text-color);
}

/* Іконки до пошти і телефону */
.mail::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("./images/main/envelope.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.phone::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("./images/main/Vector.png");
    background-size: contain;
    background-repeat: no-repeat;
}



.contacts-list {
    display: flex;
    margin-left: auto;
}

.contact-item:not(:first-child) {
    margin-left: 50px;
}