.join {
    .networks-link {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--thirdly-text-color); 
    }
}

.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--thirdly-text-color);
    margin-bottom: 20px;
}


.networks-link:hover,
.networks-link:focus {
    @extend .footer;
    background-color: var(--accent-color);
}

.networks-icon {
    @extend .footer;
    fill: currentColor;
}