.footer .contacts-list {
    display: block;
    margin-top: 9px;
}

.footer .contact-item:last-child {
    margin-left: 0;
    margin-top: 9px;
}

.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--thirdly-text-color);
    margin-bottom: 20px;
}

.footer .networks-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--thirdly-text-color);
}

.footer .networks-link:hover,
.footer .networks-link:focus {
    background-color: var(--accent-color);
}

.footer .networks-icon {
    fill: currentColor;
}